{{#partial "content"}}
    {{#if editRanger}}
        <h1>Edit ranger info:</h1>
        <form action="/rangers/{{ranger.id}}" method="post">
            <label for="name">Edit Ranger info:</label>
            <input id="newRangerName" name="newRangerName" type="text" value="{{ranger.name}}">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{else}}
        <h1>Register new Ranger.</h1>
        <form action="/rangers" method="post">
            <label for="name"> Name</label>
            <input id="name" name="name" type="text">
            </br>
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}