<link rel='stylesheet' href='css/app.css'>
{{#partial "content"}}
    <h5 class="text-center">Information Obtained</h5>
    <a href="/sighting/new">Add a new sighting</a>
{{/partial}}

{{> layout.hbs}}